
body {
  background-color: #0e111a;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}
header {
  padding: 10px;
  background-color: #f3ba2f;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  height: 40px;
  cursor: pointer;
}
main {
  padding: 20px;
}
.hidden {
  display: none;
}
input, button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}
button {
  background-color: #f3ba2f;
  color: #000;
  cursor: pointer;
}
#operaciones-abiertas div, #historial div {
  background-color: #1c1f2a;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
}
